{"LANDSAT_4/TM/SRB1"         #{"sr" "blue"}
 "LANDSAT_4/TM/SRB2"         #{"sr" "green"}
 "LANDSAT_4/TM/SRB3"         #{"sr" "red"}
 "LANDSAT_4/TM/SRB4"         #{"sr" "nir"}
 "LANDSAT_4/TM/SRB5"         #{"sr" "swir1"}
 "LANDSAT_4/TM/SRB6"         #{"sr" "thermal"}
 "LANDSAT_4/TM/SRB7"         #{"sr" "swir2"}
 "LANDSAT_4/TM/LINEAGEQA"    #{"lineage" "qa"}
 "LANDSAT_4/TM/PIXELQA"      #{"pixel" "qa"}
 "LANDSAT_4/TM/TAB1"         #{"ta" "blue"}
 "LANDSAT_4/TM/TAB2"         #{"ta" "green"}
 "LANDSAT_4/TM/TAB3"         #{"ta" "red"}
 "LANDSAT_4/TM/TAB4"         #{"ta" "nir"}
 "LANDSAT_4/TM/TAB5"         #{"ta" "swir1"}
 "LANDSAT_4/TM/TAB6"         #{"ta" "thermal"}
 "LANDSAT_4/TM/TAB7"         #{"ta" "swir2"}
 "LANDSAT_5/TM/SRB1"         #{"sr" "blue"}
 "LANDSAT_5/TM/SRB2"         #{"sr" "green"}
 "LANDSAT_5/TM/SRB3"         #{"sr" "red"}
 "LANDSAT_5/TM/SRB4"         #{"sr" "nir"}
 "LANDSAT_5/TM/SRB5"         #{"sr" "swir1"}
 "LANDSAT_5/TM/SRB6"         #{"sr" "thermal"}
 "LANDSAT_5/TM/SRB7"         #{"sr" "swir2"}
 "LANDSAT_5/TM/TAB1"         #{"ta" "blue"}
 "LANDSAT_5/TM/TAB2"         #{"ta" "green"}
 "LANDSAT_5/TM/TAB3"         #{"ta" "red"}
 "LANDSAT_5/TM/TAB4"         #{"ta" "nir"}
 "LANDSAT_5/TM/TAB5"         #{"ta" "swir1"}
 "LANDSAT_5/TM/TAB6"         #{"ta" "thermal"}
 "LANDSAT_5/TM/TAB7"         #{"ta" "swir2"}
 "LANDSAT_5/TM/LINEAGEQA"    #{"lineage" "qa"}
 "LANDSAT_5/TM/PIXELQA"      #{"pixel" "qa"}
 "LANDSAT_7/ETM/BTB6"        #{"bt" "brightness" "temp" "temperature"}
 "LANDSAT_7/ETM/LINEAGEQA"   #{"lineage" "qa"}
 "LANDSAT_7/ETM/PIXELQA"     #{"pixel" "qa"}
 "LANDSAT_7/ETM/RADSATQA"    #{"saturation" "mask"}
 "LANDSAT_7/ETM/SEZ4"        #{"sensor" "zenith" "angles"}
 "LANDSAT_7/ETM/SEA4"        #{"sensor" "azimuth" "angles"}
 "LANDSAT_7/ETM/SOZ4"        #{"solar" "zenith" "angles"}
 "LANDSAT_7/ETM/SOA4"        #{"solar" "azimuth" "angles"}
 "LANDSAT_7/ETM/SRCLOUDQA"   #{"sr" "cloud" "qa"}
 "LANDSAT_7/ETM/SRB1"        #{"sr" "blue"}
 "LANDSAT_7/ETM/SRB2"        #{"sr" "green"}
 "LANDSAT_7/ETM/SRB3"        #{"sr" "red"}
 "LANDSAT_7/ETM/SRB4"        #{"sr" "nir"}
 "LANDSAT_7/ETM/SRB5"        #{"sr" "swir1"}
 "LANDSAT_7/ETM/SRB6"        #{"sr" "thermal"}
 "LANDSAT_7/ETM/SRB7"        #{"sr" "swir2"}
 "LANDSAT_7/ETM/TAB1"        #{"ta" "blue"}
 "LANDSAT_7/ETM/TAB2"        #{"ta" "green"}
 "LANDSAT_7/ETM/TAB3"        #{"ta" "red"}
 "LANDSAT_7/ETM/TAB4"        #{"ta" "nir"}
 "LANDSAT_7/ETM/TAB5"        #{"ta" "swir1"}
 "LANDSAT_7/ETM/TAB6"        #{"ta" "thermal"}
 "LANDSAT_7/ETM/TAB7"        #{"ta" "swir2"}
 "LANDSAT_8/OLI_TIRS/SRB1"   #{"sr" "coastal" "aerosol" "plurpal"}
 "LANDSAT_8/OLI_TIRS/SRB2"   #{"sr" "blue"}
 "LANDSAT_8/OLI_TIRS/SRB3"   #{"sr" "green"}
 "LANDSAT_8/OLI_TIRS/SRB4"   #{"sr" "red"}
 "LANDSAT_8/OLI_TIRS/SRB5"   #{"sr" "nir"}
 "LANDSAT_8/OLI_TIRS/SRB6"   #{"sr" "swir1"}
 "LANDSAT_8/OLI_TIRS/SRB7"   #{"sr" "swir2"}
 "LANDSAT_8/OLI_TIRS/SRB8"   #{"sr" "pan"}
 "LANDSAT_8/OLI_TIRS/SRB9"   #{"sr" "cirrus"}
 "LANDSAT_8/OLI_TIRS/SRB10"  #{"sr" "tirs1" "thermal"}
 "LANDSAT_8/OLI_TIRS/SRB11"  #{"sr" "tirs2" "thermal"}
 "LANDSAT_8/OLI_TIRS/TAB1"   #{"ta" "coastal" "aerosol" "plurpal"}
 "LANDSAT_8/OLI_TIRS/TAB2"   #{"ta" "blue"}
 "LANDSAT_8/OLI_TIRS/TAB3"   #{"ta" "green"}
 "LANDSAT_8/OLI_TIRS/TAB4"   #{"ta" "red"}
 "LANDSAT_8/OLI_TIRS/TAB5"   #{"ta" "nir"}
 "LANDSAT_8/OLI_TIRS/TAB6"   #{"ta" "swir1"}
 "LANDSAT_8/OLI_TIRS/TAB7"   #{"ta" "swir2"}
 "LANDSAT_8/OLI_TIRS/TAB8"   #{"ta" "pan"}
 "LANDSAT_8/OLI_TIRS/TAB9"   #{"ta" "cirrus"}
 "LANDSAT_8/OLI_TIRS/TAB10"  #{"ta" "tirs1" "thermal"}
 "LANDSAT_8/OLI_TIRS/TAB11"  #{"ta" "tirs2" "thermal"}}
 "LANDSAT_8/OLI_TIRS/LINEAGEQA" #{"lineage" "qa"}
 "LANDSAT_8/OLI_TIRS/PIXELQA" #{"pixel" "qa"}
