{:database  {:cluster {:contact-points ["localhost"]
                       :socket-options {:read-timeout-millis 20000}
                       :query-options {:consistency :quorum}}
             :default-keyspace "lcmap_landsat_local"
             :schema {:setup true :teardown false}}
 :http      {:port 5678
             :join? false
             :daemon? true}
 :event     {:host "localhost"
             :port 5672}
 :server    {:exchange "local.lcmap.landsat.server"
             :queue    "local.lcmap.landsat.server"}
 :worker    {:exchange "local.lcmap.landsat.worker"
             :queue    "local.lcmap.landsat.worker"}
 :search    {:index-url "http://localhost:9200/lcmap-landsat-local"
             :chip-spec-url "http://localhost:9200/lcmap-landsat-local/chip-spec"
             :max-result-size 1000}}
