{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_landsat_local"}

 :event     {:host "localhost"
             :port 5672
             :queues [{:name "local.lcmap.landsat.server"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "local.lcmap.landsat.worker"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "local.lcmap.landsat.server"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "local.lcmap.landsat.worker"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "local.lcmap.landsat.server"
                         :queue "local.lcmap.landsat.worker"
                         :opts {:routing-key "ingest"}}]}
 :worker    {:exchange   "local.lcmap.landsat.worker"
             :queue      "local.lcmap.landsat.worker"}
 :search     {:url "http://localhost:9200"
              :ubid-index "lcmap_landsat_local_ubids"
              :ubid-index-type "ubid"
              :max-result-size 10000}}
