{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_landsat_dev"}
 :event     {:host "localhost"
             :port 5672}
 :worker    {:exchange {:name "dev.lcmap.landsat.worker"}
             :queue    {:name "dev.lcmap.landsat.worker"
                        :bind [["dev.lcmap.landsat.server" "ingest"]]}}
 :search     {:url "http://localhost:9200"
              :ubid-index "lcmap_landsat_dev_ubids"
              :ubid-index-type "ubid"}}
