{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_landsat_test"}
 :event     {:host "localhost"
             :port 5672}
 :http      {:port 5679
             :join? false
             :daemon? true}
 :server    {:exchange "test.lcmap.landsat.server"
             :queue "test.lcmap.landsat.server"}
 :worker    {:exchange {:name "test.lcmap.landsat.worker"}
             :queue    {:name "test.lcmap.landsat.worker"
                        :bind [["test.lcmap.landsat.server" "ingest"]]}}}
