{:database  {:cluster {:contact-points ["localhost"]}
             :default-keyspace "lcmap_landsat_unit"
             :schema {:setup true :teardown true}}
 :event     {:host "localhost"
             :port 5672}
 :http      {:port 5679
             :join? false
             :daemon? true}
 :server    {:exchange "unit.lcmap.landsat.server"
             :queue    "unit.lcmap.landsat.server"}
 :worker    {:exchange "unit.lcmap.landsat.worker"
             :queue    "unit.lcmap.landsat.worker"}
 :search     {:index-url      "http://localhost:9200/tile-specs"
              :refresh-url    "http://localhost:9200/tile-specs/_refresh"
              :bulk-api-url   "http://localhost:9200/tile-specs/unit/_bulk"
              :search-api-url "http://localhost:9200/tile-specs/_search"
              :max-result-size 10000}}
