{:database  {:contact-points "localhost"
             :default-keyspace "lcmap_landsat_test"}
 :event     {:host "localhost"
             :port 5672
             :queues [{:name "test.lcmap.landsat.server.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "test.lcmap.landsat.worker.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "test.lcmap.landsat.server.exchange"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "test.lcmap.landsat.worker.exchange"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "test.lcmap.landsat.server.exchange"
                         :queue "test.lcmap.landsat.worker.queue"
                         :opts {:routing-key "ingest"}}]}
 :http      {:port 5679
             :join? false
             :daemon? true}
 :server    {:exchange "test.lcmap.landsat.server.exchange"
             :queue    "test.lcmap.landsat.server.queue"}
 :worker    {:exchange "test.lcmap.landsat.worker.exchange"
             :queue    "test.lcmap.landsat.worker.queue"}
 :search     {:index-url      "http://localhost:9200/tile-specs"
              :refresh-url    "http://localhost:9200/tile-specs/_refresh"
              :bulk-api-url   "http://localhost:9200/tile-specs/test/_bulk"
              :search-api-url "http://localhost:9200/tile-specs/_search"
              :max-result-size 10000}}
