{:database  {:contact-points "172.17.0.1"
             :default-keyspace "lcmap_landsat_test"}
 :event     {:host "172.17.0.1"
             :port 5672
             :queues [{:name "test.lcmap.landsat.server.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}
                      {:name "test.lcmap.landsat.worker.queue"
                       :opts {:durable true
                              :exclusive false
                              :auto-delete false}}]
             :exchanges [{:name "test.lcmap.landsat.server.exchange"
                          :type "topic"
                          :opts {:durable true}}
                         {:name "test.lcmap.landsat.worker.exchange"
                          :type "topic"
                          :opts {:durable true}}]
             :bindings [{:exchange "test.lcmap.landsat.server.exchange"
                         :queue "test.lcmap.landsat.worker.queue"
                         :opts {:routing-key "ingest"}}]}
 :http      {:port 5679
             :join? false
             :daemon? true}
 :server    {:exchange "test.lcmap.landsat.server.exchange"
             :queue    "test.lcmap.landsat.server.queue"}
 :worker    {:exchange "test.lcmap.landsat.worker.exchange"
             :queue    "test.lcmap.landsat.worker.queue"}
 :search     {:url "http://172.17.0.1:9200"
              :ubid-index "lcmap_landsat_test_ubids"
              :ubid-index-type "ubid"
              :max-result-size 10000}}
